# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
.vs/RSA/v16/ipch/AutoPCH/bda71cffdbcc7277/PROGRAM.ipch
*.pdb
*.ilk
*.idb
*.txt
*.tlog
*.lastbuildstate
*.log
*.ipch
*.suo
